/* Parte de estilização */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 0, 149));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.712);
    width: 90%;
    max-width: 700px;
}