/* Parte de estilização */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 0, 149));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    background-color: rgba(177, 0, 247, 0.37);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.712);
    width: 90%;
    max-width: 700px;
}

/* Parte do texto */
h1, h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 25px;
}

/* Parte da Bordas */
section {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid pink;
    border-radius: 6px;
    background-color: pink;
}

/* Parte da estilização dos botões de tarefas e gastos */
.input-area {
    display: flex;
    margin-bottom: 15px;
}

.input-area #novatarefa,
.input-area #descricaogasto {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    margin-right: 5px;
}